---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
		<h1>이정우의 블로그</h1>
		<p>곧 글이 올라옵니다.</p>
	</main>
</Layout>

<style>
	main {
		max-width: var(--max-width);
		margin: 0 auto;
		padding: 4rem 1.5rem;
	}
</style>
